.order {
  padding: 0 15px;
  overflow: hidden;

  &__symbol {
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__range {
    margin-bottom: 20px;

    .label {
      opacity: 0.6;
    }
  }

  &_drawer_form {
    margin-top: 20px;

    .mb-form-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .form-item-container {
      width: 40%;
    }

    .form-item-lost_price {
      width: 100%;
    }

    .form-item-profit {
      width: 100%;
    }

    .mb-input {
      .input {
        height: 30px;
      }

      .label {
        margin-bottom: 6px;
      }
    }

    .am-list-item {
      background: transparent;
      color: #434A59;
      padding-left: 0;

      .am-list-content {
        color: #ccc;
      }
    }
  }

  &__profit {
    .taraget {
      padding: 2px 5px;
      border-radius: 10px;
      border: 1px solid #ccc;
      margin-right: 5px;
    }
  }

  p {
    margin-bottom: 10px;
  }



  .more-btn-container {
    text-align: center;
    padding-bottom: 30px;
  }

}