
.red {
  color: red;
}

.margin_left_5 {
  margin-left: 5px;
} 

.margin_left_10 {
  margin-left: 10px;
}

.margin_left_20 {
  margin-left: 20px;
}



.margin_right_5 {
  margin-right: 5px;
} 

.margin_right_10 {
  margin-right: 10px;
}

.margin_right_20 {
  margin-right: 20px;
}


.margin_bottom_5 {
  margin-bottom: 5px;
} 

.margin_bottom_10 {
  margin-bottom: 10px;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}