@import "../../styles/base.less";

.strategy-item {
  padding: 20px 15px;

  .btn-container {
    text-align: center;
    margin-top: 50px;
    .back-btn {
      margin-right: 20px;
    }

    .btn {
      padding: 5px 10px;
      border: 1px solid #345273;
      border-radius: 4px;
    }
  }
}
