.m-notice {
  padding: 20px;
  height: 100%;
  background: #111622;
  color: #fff !important;

  .ant-timeline-item-label {
    width: 20% !important;
  }

  .ant-timeline.ant-timeline-alternate .ant-timeline-item-tail,
  .ant-timeline.ant-timeline-right .ant-timeline-item-tail,
  .ant-timeline.ant-timeline-label .ant-timeline-item-tail,
  .ant-timeline.ant-timeline-alternate .ant-timeline-item-head,
  .ant-timeline.ant-timeline-right .ant-timeline-item-head,
  .ant-timeline.ant-timeline-label .ant-timeline-item-head,
  .ant-timeline.ant-timeline-alternate .ant-timeline-item-head-custom,
  .ant-timeline.ant-timeline-right .ant-timeline-item-head-custom,
  .ant-timeline.ant-timeline-label .ant-timeline-item-head-custom {
    left: calc(20% + 10px) !important;
  }

  .time {
    color: #fff !important;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
  }

  .title {
    width: 89px;
    height: 22px;
    background: #0078FF;
    opacity: 1;
    border-radius: 4px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    .font {
      font-size: 12px;
    }
  }

  .content {
    opacity: 0.6;
    font-family: PingFang SC;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
  }

  .ant-timeline-item-content {
    left: calc(20% - 4px) !important;
    width: calc(80% - 20px) !important;
  }

  .notice-content {
    color: #fff;
  }
}