.layout-system-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  height: 64px;
  line-height: 64px;
}

.ant-layout-header {
  background: #ffffff!important;
  position: relative;
  z-index: 1;
}

.layout-header {
  display: flex;
  align-items: center;
}

.layout-title {
  text-align: center;
  flex: 1;
}

.layout-content {
  padding: 10px 20px;
  min-height: 80vh;
}

.layout-side {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
}
