#home {
  .header {
    .logo {
      height: 300px;
      text-align: center;
      .img {
        width: 310px;
        height: 163px;
      }
    }

    .title {
      color: #000;
      display: flex;
      margin: 0 auto;
      height: 825px;
      box-sizing: border-box;
      padding: 240px 0 240px 184px;
      background: linear-gradient(#00f0ff, #ff9f5dfd);
      .line {
        width: 30px;
        height: 368px;
        background: #16264e;
        margin-right: 60px;
      }

      .text {
        font-size: 120px;
        font-family: SourceHanSansCN;
        font-weight: bold;
        color: #16264e;
        line-height: 1;
        p {
          margin-bottom: 38px;
        }
        .tip {
          font-size: 48px;
        }
      }
    }

    .step {
      &-title {
        text-align: center;
        font-size: 72px;
        font-family: SourceHanSansCN;
        font-weight: bold;
        color: #0078ff;
        margin: 100px auto;
      }

      &-num {
        position: relative;
      }
      &-num-item {
        padding: 0 200px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        span {
          display: inline-block;
          width: 112px;
          height: 112px;
          box-shadow: 0px 17px 46px 0px rgba(51, 111, 245, 0.58);
          border-radius: 1000%;
          text-align: center;
          line-height: 112px;
          background: #0078ff;
        }
      }

      &-num-line {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -450px;
        margin-top: -4px;
        width: 900px;
        height: 8px;
        background: linear-gradient(90deg, #8bf6e9, #5272f5);
        border-radius: 4px;
      }

      .step-detail {
        padding: 0 160px;
        display: flex;
        justify-content: space-between;
        color: #0078ff;
        img {
          height: 150px;
          width: 150px;
          margin-top: 60px;
          margin-bottom: 80px;
        }
        &-item {
          flex: 1;
          word-break: break-all;
          text-align: center;
        }
        &-first {
          text-align: left;
        }

        &-third {
          margin-left: 10px;
          text-align: right;
          .text {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
