.mb-tab {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #ffffff;
  .tab-item {
    padding-bottom: 10px;
    opacity: 0.5;
  }

  .tab-item-active {
    opacity: 1;
    border-bottom: 2px solid #ffffff;
    position: relative;
    // top: -2px;
  }
}
